.card {
  border: 1px solid var(--second-border);
  border-left: 8px solid var(--action-bg);
  border-radius: 8px;
  padding: 12px;
}

.bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.bookmark a {
  text-decoration: none;
  color: inherit;
  width: 476px;
  height: 76px;
  padding: 8px;
  border: 1px solid var(--second-border);
  border-radius: 12px;
  &:hover {
    border: 2px solid var(--main-clr);
  }
}

.title {
  margin: 0;
}

.subtext {
  max-width: 476px;
  color: var(--subtext);
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.description {
  width: 476px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.icon_button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: none;
  color: var(--main-clr);
  &:hover {
    border: 2px solid var(--main-clr);
    border-radius: 8px;
  }
}

.delete_button {
  width: 24px;
  height: 24px;
  justify-self: end;
  &:hover {
    border: none;
    background-color: #cc3300;
    svg {
      width: 32px;
      height: 32px;
      color: var(--main-clr);
    }
  }
}

@media (max-width: 700px) {
  .bookmark a {
    width: 238px;
    height: 76px;
  }

  .description {
    width: 238px;
  }

  .subtext {
    max-width: 238px;
  }
}
