.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reset {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  color: #5e5e5e;
  &:hover {
    text-decoration: underline;
  }
}
